.boton-amarillo{
    @include boton($amarillo, inline-block);
    text-transform: uppercase;
}

.boton-amarillo-block{
    @include boton($amarillo, block);
    text-transform: uppercase;
}

.boton-verde{
    @include boton($verde, inline-block);
    text-transform: uppercase;

}

.boton-rojo-block{
    @include boton($rojo, block);
    text-transform: uppercase;
    width: 100%;
}

.boton-verde-block{
    @include boton($verde, block);
    text-transform: uppercase;
}