.footer{
    padding: calc($separacion / 2);
    background-color: $grisOscuro;
    margin-bottom: 0;
    .contenido-footer{
        padding: calc($separacion / 2);
    }
    .navegacion{
        visibility: visible;
        opacity: 1;
        height: auto;
    }
    .LG{
        color: $LG;
        font-weight: bold;
    }

    .copyright{
        color: $blanco;
        text-align: center;
    }

}